@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row" style="top: 0; right: 0; position: relative; background-color: none">
            <MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme" />
            <MudSwitch @bind-Checked="@_isDarkMode" Color="Color.Primary" Class="ma-4" T="bool" Label="Light/Dark Mode" />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<MudDialogProvider />
<MudSnackbarProvider />
@code {
    private MudTheme _theme = new();
    private bool _isDarkMode;
}