@inject NavigationManager _nav
@inject Blazored.SessionStorage.ISessionStorageService _storage

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><MudImage Src="uj-logo-h121.png" Height=40 Width=200 /></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @if (!loggedIn)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Login">
                    <span class="oi oi-account-login" aria-hidden="true"></span> Bejelentkezés
                </NavLink>
            </div>
        }
        else
        {
            if (role != 1)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="registration">
                        <span class="oi oi-plus" aria-hidden="true"></span> Felhasználó hozzáadása
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="usersearch">
                        <span class="oi oi-people" aria-hidden="true"></span> Felhasználó keresés
                    </NavLink>
                </div>
            }
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="userpage">
                    <span class="oi oi-person" aria-hidden="true"></span> Adatlap
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href=@link>
                    <span class="oi oi-document" aria-hidden="true"></span> Számlák
                </NavLink>
            </div>
            @if (role == 2)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/checkbills">
                        <span class="oi oi-document" aria-hidden="true"></span> Jóváhagyásra vár
                    </NavLink>
                </div>
            }
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/changepass">
                    <span class="oi oi-cog" aria-hidden="true"></span> Jelszóváltoztatás
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" @onclick="LogOut">
                    <span class="oi oi-account-logout" aria-hidden="true"></span> Kijelentkezés
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool loggedIn;
    private int role;
    int id;
    string link;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override async Task OnInitializedAsync()
    {
        loggedIn = await _storage.GetItemAsync<bool>("success");
        role = await _storage.GetItemAsync<int>("role");
        id = await _storage.GetItemAsync<int>("id");
        link = "billing/" + id;
    }
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async void LogOut()
    {
        await _storage.RemoveItemAsync("success");
        await _storage.RemoveItemAsync("username");
        await _storage.RemoveItemAsync("id");
        await _storage.RemoveItemAsync("role");
        _nav.NavigateTo("", forceLoad: true);
    }
}
